<h1>Search CD by Arist</h1>

<form action="/result" method="post">
  <label for="">Search</label>
  <input type="text" name="searchName" value="">
  <button type="submit" name="button">Search</button>
</form>
